<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Razorgator Dashboard</a>
			<ul class="nav pull-right">
				<li><a href="/">Today's Orders</a></li>
				<li><%= link_to "30-Day Visits", visits_path %></li>
				<li><%= link_to "Year-over-Year Comparison", yoy_path %></li>
			</ul>
		</div>
	</div>
</div>