<h3>Week Ending <%= @week_end_date.strftime("%A %b %e, %Y") %></h3>
<table class="table table-striped table-bordered">
	<thead>
		<th>Sales Rep</th>
		<th>Orders</th>
		<th>Revenue</th>
	</thead>
	<tbody>
		<% @orders_by_agent.each do |agent| %>
		<tr>
			<td><%= agent[:agent] %></td>
			<td><%= agent[:total_orders] %></td>
			<td><%= number_to_currency(agent[:total_revenue]) %></td>
		</tr>
		<% end %>
		<tr>
			<td>Total</td>
			<td>Total Orders</td>
			<td>Total Revenue</td>
		</tr>
	</tbody>
</table>